<div class="d-flex justify-content-center" style="width: 100%; weight: 100%">
  <div style="width: 300px; margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <h2 class="text-center fs-1">Sign Up</h2><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <input type="text" class="form-control fs-6" id="username" name="user[username]" autofocus: true autocomplete="username" placeholder="Username">
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" id="email" name="user[email]" autofocus: true autocomplete="email" placeholder="Email">
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" id="password" name="user[password]" autocomplete="new-password" placeholder="Password">
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" id="password_confirmation" name="user[password_confirmation]" autocomplete="new-password" placeholder="Confirm password">
      </div>

      <div class="d-flex justify-content-center">
        <%= f.submit "Sign Up", class: "btn btn-primary", style: "width: 100%" %>
      </div>
    <% end %>
    
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
