<%= render 'layouts/header' %>
<div class="container d-flex justify-content-center mt-5" style="width: 100%; min-height: 100vh">
  <div style="width: 500px">
    <%= render @user %>
  </div> 
</div>
<%= render 'layouts/footer' %>
