<%= render 'layouts/header' %>
<div class="container d-flex justify-content-center mt-5" style="width: 100%; weight: 100%">
  <div style="width: 70%">
    <% if defined?(notice) && (not notice.nil?) %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
      <br>
    <% end %>

    <%= render @dotfile, show_config: true %> 
  </div>
</div>
