.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    font-size: 100px;
    font-weight: 700;
}

.subtitle {
    font-size: 24px;
    font-weight: 500;
    color: grey;
    margin-top: -23px;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.explore-btn {
    margin-right: -5px;
}

.log-in-btn {
    margin-left: -5px;
}
