.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header {
    width: 400px;
    margin-left: 100px;
}

.title {
    font-size: 100px;
    font-weight: 700;
}

.subtitle {
    font-size: 24px;
    font-weight: 500;
    color: grey;
    margin-top: -40px;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.log-in-btn {
    margin-left: 10px;
}
